<template>
  <div ref="chart" v-resize="draw" style="max-width: 100%;"></div>
</template>

<script>
import {vegaMixin} from "@/mixins/chart"

const TICK_FORMAT = ".0f"
const CHART_HEIGHT = 200

/** Renders a Vega "abstract" parallel coordinate plot rendering polygons for groups of rows
 * @vue-data {Object} specModel - Template Vega specification
 * @vue-computed {Object} specData - Vega specification with selection and data injected
 * @vue-props {Array} data - Base data
 * @vue-props {Array} displayColumns - Name of column from `data` to show as axes
 * @vue-props {String} idColumn - Name of column defining the identified in `data` to show as tooltip
 * @vue-props {String} selected - Identifier of the currently select row in `data` to show highlighted
 */
export default {
  name: "AggregateParallelCoordinates",
  props: ["data", "displayColumns", "idColumn", "selected"],
  mixins: [vegaMixin],
  data() {
    return {
      specModel: {
        $schema: "https://vega.github.io/schema/vega-lite/v5.json",
        height: CHART_HEIGHT,
        width: "container",
        margin: 0,
        padding: 0,
        data: {
          values: []
        },
        params: [{
          name: "selected",
          value: null,
        }],
        transform: [
          {window: [{"op": "count", "as": "index"}]},
          {fold: []},
          {
            joinaggregate: [
              {op: "min", field: "value.min", as: "min"},
              {op: "max", field: "value.max", as: "max"}
            ],
            groupby: ["key"]
          },
          {
            calculate: "(datum.value.avg - datum.min) / (datum.max-datum.min)",
            as: "norm_avg"
          },
          {
            calculate: "(datum.value.med - datum.min) / (datum.max-datum.min)",
            as: "norm_med"
          },
          {
            calculate: "(datum.value.perc95 - datum.min) / (datum.max-datum.min)",
            as: "norm_perc95"
          },
          {
            calculate: "datum.value.med",
            as: "med"
          },
          {
            calculate: "datum.value.perc95",
            as: "perc95"
          },
          {
            calculate: "datum.value.avg",
            as: "avg"
          },
          {
            calculate: "(datum.min + datum.max) / 2",
            as: "mid"
          },
          {
            calculate: "datum.id === selected ? 1 : 0",
            as: "zorder"
          }
        ],
        encoding: {
          x: {type: "nominal", field: "key"}
        },
        layer: [
          {
            mark: {type: "rule", color: "#ccc"},
            encoding: {
              detail: {aggregate: "count"},
            }
          },
          {
            mark: {
              type: "line",
              point: {
                filled: false,
                fill: "white"
              }
            },
            encoding: {
              color: {
                condition: {
                  test: "datum.id === selected",
                  value: "orange"
                },
                value: "gray"
              },
              order: {field: "zorder", type: "quantitative"},
              detail: {type: "nominal", field: "id"},
              opacity: {
                condition: {
                  test: "datum.id === selected",
                  value: 1
                },
                value: .5
              },
              y: {type: "quantitative", field: "norm_avg", axis: null, scale: {domain: [0, 1]}},
              tooltip: [
                {field: "avg", type: "quantitative"},
                {field: "med", type: "quantitative"},
                {field: "perc95", type: "quantitative"},
                {field: "id", type: "nominal"},
                {field: "key", type: "nominal"}
              ]
            }
          },
          {
            mark: "area",
            encoding: {
              detail: {type: "nominal", field: "id"},
              y: {type: "quantitative", field: "norm_med", axis: null, scale: {domain: [0, 1]}},
              y2: {type: "quantitative", field: "norm_perc95", axis: null, scale: {domain: [0, 1]}},
              opacity: {
                condition: {
                  test: "datum.id === selected",
                  value: .5
                },
                value: .2
              },
              color: {
                condition: {
                  test: "datum.id === selected",
                  value: "orange"
                },
                value: "gray"
              },
              order: {field: "zorder", type: "quantitative"},
              tooltip: [
                {field: "avg", type: "quantitative"},
                {field: "med", type: "quantitative"},
                {field: "perc95", type: "quantitative"},
                {field: "id", type: "nominal"},
                {field: "key", type: "nominal"},
                {field: "min", type: "quantitative"},
                {field: "max", type: "quantitative"},
              ]
            }
          },
          {
            encoding: {
              x: {type: "nominal", field: "key"},
              y: {value: 0}
            },
            layer: [
              {
                mark: {
                  type: "text", style: "label"
                },
                encoding: {
                  text: {aggregate: "max", field: "max", format: TICK_FORMAT}
                }
              }, {
                mark: {type: "tick", style: "tick", size: 8, color: "#ccc"}
              }]
          }, {
            encoding: {
              x: {type: "nominal", field: "key"},
              y: {value: CHART_HEIGHT / 2.}
            },
            layer: [{
              mark: {type: "text", style: "label"},
              encoding: {
                text: {aggregate: "min", field: "mid", format: TICK_FORMAT}
              }
            }, {
              mark: {type: "tick", style: "tick", size: 8, "color": "#ccc"}
            }]
          }, {
            encoding: {
              x: {type: "nominal", field: "key"},
              y: {value: CHART_HEIGHT}
            },
            layer: [{
              mark: {type: "text", style: "label"},
              encoding: {
                text: {aggregate: "min", field: "min", format: TICK_FORMAT}
              }
            }, {
              mark: {type: "tick", style: "tick", size: 8, "color": "#ccc"}
            }]
          }
        ],
        config: {
          axisX: {
            domain: false, labelAngle: 0, tickColor: "#ccc", title: null
          },
          view: {stroke: null},
          style: {
            label: {
              baseline: "middle", align: "right", dx: -5
            }, tick: {orient: "horizontal"}
          }
        }
      }
    }
  },
  computed: {
    specData: function () {
      let spec = this.specModel
      if (this.data) {
        // Copy data and duplicate id field as 'id'
        spec.data.values = this.data.map(row => {
          return {id: row[this.idColumn], ...row}
        })
        spec.transform[1].fold = this.displayColumns
        spec.transform[1].groupby = this.idColumn
        spec.encoding.x["sort"] = this.displayColumns
        spec.params[0].value = this.selected
      }
      return spec
    }
  }
  ,
  watch: {
    displayColumns() {
      if (this.data) this.draw()
    },
    selected() {
      if (this.data) this.draw()
    }
  }
}
</script>

<style scoped>


</style>
