<template>
  <div>
    <sui-dimmer :active="loading" inverted>
      <sui-loader :active="loading" centered inline/>
    </sui-dimmer>
    <div ref="chart" v-resize="draw" style="max-width: 100%;"></div>
  </div>
</template>

<script>/** Color scale for adequacy categories. Index same as mapLevel in config file
 */
import {vegaMixin} from "@/mixins/chart";

const COLOR_RANGE = ["red", "orange", "lightgray"]

/** Renders a Vega Choropleth map of European countries i.e, map where countries are colored based on a
 * category or value
 * @vue-data {Object} specModel - Template Vega specification
 * @vue-computed {Object} specData - Vega specification with selection and data injected
 */
export default {
  name: "ChoroplethMap",
  props: ["data", "selected", "domain"],
  mixins: [vegaMixin],
  data() {
    return {
      loading: true,
      specModel: {
        $schema: "https://vega.github.io/schema/vega-lite/v5.json",
        height: 250,
        width: 200,
        data: {
          // async: true,
          url: "europe.json",
          format: {
            type: "topojson",
            feature: "countries"
          }
        },
        transform: [
          {
            lookup: "id",
            from: {
              data: {
                values: []
              },
              key: "id",
              fields: ["value", 'adequacy']
            }
          }],
        projection: {
          type: "mercator",
          center: [16, 56],
          scale: 200
        },
        params: [{
          name: "selectedCountry",
          value: "FR",
        }],
        mark: {
          type: "geoshape",
          fill: "lightgray",
          stroke: "white"
        },
        encoding: {
          fill: {
            field: "adequacy",
            type: "nominal",
            scale: {range: COLOR_RANGE, domain: []},
            legend: {direction: "horizontal", orient: "bottom"}
          },
          stroke: {
            value: "white",
            condition: {
              test: "datum.id === selectedCountry",
              value: "black"
            }
          },
          order: {
            condition: {
              test: "datum.id === selectedCountry",
              value: 1
            },
            value: 0
          },
          opacity: {
            condition: {
              test: "datum.id === selectedCountry",
              value: .6
            },
            value: .4
          },
          tooltip: [
            {field: "id", type: "nominal"},
            {field: "adequacy", type: "nominal"},
            {field: "value", type: "quantitative"}
          ]
        }
      }
    }
  },
  computed: {
    specData: function () {
      let spec = this.specModel
      if (this.data)
        spec.transform[0].from.data.values = this.data
      else
        spec.transform[0].from.data.values = []
      spec.params[0].value = this.selected
      spec.encoding.fill.scale.domain = this.domain
      return spec
    }
  },
  watch: {
    selected() {
      if (this.data) this.draw()
    }
  }
}
</script>

<style scoped>


</style>
