<template>
  <div ref="chart" v-resize="draw" style="min-height: 30px; width: 100%;"></div>
</template>
<script>
import {vegaMixin} from "@/mixins/chart"

/** Renders a Vega histogram of a column distribution
 * @vue-data {Object} specModel - Template Vega specification
 * @vue-computed {Object} specData - Vega specification with selection and data injected
 */
export default {
  name: "DistributionHistogram",
  mixins: [vegaMixin],
  props: ["data"],
  data() {
    return {
      specModel: {
        $schema: "https://vega.github.io/schema/vega-lite/v5.json",
        height: 30,
        width: 100,
        autosize: {
          type: "fit"
        },
        margin: 0,
        padding: 0,
        data: {
          values: []
        },
        mark: "bar",
        encoding: {
          color: {
            value: "black"
          },
          x: {
            field: "bin_start",
            bin: {binned: true, step: 2},
            axis: {title: null, ticks: false}
          },
          x2: {
            field: "bin_end",
            axis: {title: null}
          },
          y: {
            field: "count",
            type: "quantitative",
            axis: {title: null, labels: false, minExtent: 0, ticks: false}
          }
        }
      }
    }
  },
  computed: {
    specData() {
      return this.prepareSpec(this.data)
    },
  },
  methods: {
    prepareSpec(data) {
      let spec = this.specModel
      if (data && data.length > 0)
        spec.data.values = [...data]
      else
        spec.data.values = []
      return spec
    },
  }
}
</script>

<style scoped>


</style>
