<template>
  <div ref="chart" v-resize="draw" style="max-width: 100%;"></div>
</template>

<script>
import {vegaMixin} from "@/mixins/chart"

/** Renders a Vega parallel coordinate plot
 * @vue-data {Object} specModel - Template Vega specification
 * @vue-computed {Object} specData - Vega specification with selection and data injected
 * @vue-props {Array} data - Base data
 * @vue-props {Array} displayColumns - Name of column from `data` to show as axes
 * @vue-props {String} idColumn - Name of column defining the identified in `data` to show as tooltip
 * @vue-props {String} selected - Identifier of the currently select row in `data` to show highlighted
 */
export default {
  name: "ParallelCoordinates",
  props: ["data", "displayColumns", "idColumn", "selected"],
  mixins: [vegaMixin],
  data() {
    return {
      specModel: {
        $schema: "https://vega.github.io/schema/vega-lite/v5.json",
        height: 200,
        width: "container",
        margin: 0,
        padding: 0,
        data: {
          values: []
        },
        params: [{
          name: "selected",
          value: null
        }],
        transform: [
          {window: [{"op": "count", "as": "index"}]},
          {fold: []},
          {
            joinaggregate: [
              {op: "min", field: "value", as: "min"},
              {op: "max", field: "value", as: "max"}
            ],
            groupby: ["key"]
          },
          {
            calculate: "(datum.value - datum.min) / (datum.max-datum.min)",
            as: "norm_val"
          },
          {
            calculate: "datum.value / datum.max",
            as: "val"
          },
          {
            calculate: "(datum.min + datum.max) / 2",
            as: "mid"
          }
        ],
        layer: [
          {
            mark: {type: "rule", color: "#ccc"},
            encoding: {
              detail: {aggregate: "count"},
              x: {field: "key"}
            }
          },
          {
            mark: "line",
            encoding: {
              color: {
                condition: {
                  test: "datum.id === selected",
                  value: "orange"
                },
                value: "black"
              },
              detail: {type: "nominal", field: "index"},
              opacity: {value: 0.2},
              strokeWidth: {value: 0.5},
              x: {type: "nominal", field: "key"},
              y: {type: "quantitative", field: "norm_val", axis: null},
              tooltip: [
                {field: "key", type: "nominal"},
              ]
            }
          }
        ],
        config: {
          axisX: {domain: false, labelAngle: 0, tickColor: "#ccc", title: null},
          view: {stroke: null},
          style: {
            label: {baseline: "middle", align: "right", dx: -5},
            tick: {orient: "horizontal"}
          }
        }
      }
    }
  },
  computed: {
    specData: function () {
      let spec = this.specModel
      if (this.data) {
        spec.data.values = this.data
        spec.transform[1].fold = this.displayColumns
        spec.transform[1].groupby = this.idColumn
        spec.layer[0].encoding.x.sort = this.displayColumns
        spec.layer[1].encoding.x.sort = this.displayColumns
        spec.layer[1].encoding.color.condition.test = `datum.${this.idColumn} == selected`
        spec.params[0].value = this.selected
      }
      return spec
    }
  },
  watch: {
    displayColumns() {
      this.draw()
    },
    selected() {
      if (this.data) this.draw()
    }
  }
}
</script>

<style scoped>


</style>
