<template>
  <svg class="svg-bar" width="100%" :viewBox="viewBox" v-if="(max - min) > 0 ">
    <g>
      <rect :style="rectStyle" :width="rectWidth" :x="rectX" height="100%" y="0"><title>{{ tooltip }}</title></rect>
      <line v-if="indicatorLine" :x1="lineX" :x2="lineX" stroke="red" stroke-width="2" y1="0" y2="100%"/>
    </g>
  </svg>
</template>


<script>
/** Renders an SVG bar for a single value
 * @vue-data {Number} width -
 * @vue-data {Number} height -
 * @vue-props {Number} value - The value
 * @vue-props {Number} min - Scale minimum value
 * @vue-props {Number} max - Scale maximum value
 * @vue-props {Number} indicatorLine - Threshold value
 * @vue-props {String} unit - Optional unit to display on hover
 * @vue-props {String} color - Hex code or name for the bar color
 */
export default {
  name: "SimpleBar",
  data() {
    return {
      width: 100,
      height: 10,
    }
  },
  props: ["value", "min", "max", "color", "indicatorLine", "unit"],
  computed: {
    viewBox: function () {
      return `0 0 ${this.width} ${this.height}`
    },
    rectWidth: function () {
      return this.scale(this.value)
    },
    rectX: function () {
      return 0
    },
    rectStyle: function () {
      return `fill:${this.color};stroke-width:0;stroke:rgb(0,0,0)`
    },
    lineX: function () {
      return this.scale(this.indicatorLine)
    },
    tooltip: function () {
      return `value: ${Number(this.value).toFixed(2)}${this.unit || ''}`
    }
  },
  methods: {
    scale(v) {
      return (v - this.min) / (this.max - this.min) * this.width
    }
  }
}
</script>

<style scoped>
svg {
  /*padding: 0;*/
  /*margin: 0;*/
  max-height: 10px;
  /*max-width: 100px;*/
}

rect:hover {
  fill: red;
}

circle:hover {
  fill: red;
}

</style>
