<template>
  <div>
    <div>
      <sui-dropdown :menu-header="addDropDown.menuHeader" :options="addableColumns"
                    :search-in-menu="addDropDown.searchInMenu"
                    button class="icon" icon="plus"
                    labeled
                    selection
                    text="Add column"
                    @click.native="addColumn"/>
      <sui-checkbox v-model="compressRows" label="Compress rows" toggle/>
    </div>
    <sui-table :compact="true" basic="very" selectable @mouseout="mouseOverElement(null, null)">
      <sui-table-header>
        <sui-table-row>
          <sui-table-header-cell single-line>{{ idColumn.toUpperCase() }}
            <sui-button circular class="header-button" fitted icon="sort"
                        @click.native="sortRowsByColumn(idColumn)"/>
          </sui-table-header-cell>
          <sui-table-header-cell v-for="col in visibleColumns" :key="col"
                                 :title="col" class="annotative" single-line
                                 @mouseover="mouseOverElement(null, col)">
            {{ col.substring(0, 20).toUpperCase() }}
            <sui-button circular class="header-button" fitted icon="trash"
                        @click.native="hideColumn(col)"/>
            <sui-button circular class="header-button" fitted icon="sort"
                        @click.native="sortRowsByColumn(col)"/>
            <AnnotationChart :horizontal="false"
                             :keys="{ metaColumn: metaColumns[0], column: col, country: countries[0]}"
                             :stacked="false"/>
            <DistributionHistogram v-if="distributions" :data="distributions[col]"
                                   style="display: table; width: 100px;"/>
          </sui-table-header-cell>
        </sui-table-row>
      </sui-table-header>

      <sui-table-body>
        <sui-table-row v-for="(row, index) in sortedData"
                       :key="index"
                       :class="{'compressed-row': compressRows}">
          <sui-table-cell :class="{'compressed-row': compressRows}" single-line
                          @mouseover="mouseOverElement(row[idColumn], null)">
            {{ row[idColumn] }}
          </sui-table-cell>
          <sui-table-cell v-for="col in visibleColumns"
                          :key="col" :class="{'compressed-row': compressRows}"
                          single-line
                          @mouseover="mouseOverElement(row[idColumn], col)">
            <AggregateBar :indicator-line="compareToThreshold(row, col).threshold"
                          :max="columnRanges[col].max"
                          :min="columnRanges[col].min"
                          :unit="config.unit[col] || ''"
                          :value="row[col]"
                          style="max-width: 100px;"/>
          </sui-table-cell>
        </sui-table-row>
      </sui-table-body>
    </sui-table>
  </div>
</template>

<script>
import {annotationMixin, distributionMixin, editColumnsMixin, sortColumnsMixin} from "@/mixins/table"
import DistributionHistogram from "@/components/charts/DistributionHistogram"
import AggregateBar from "@/components/charts/AggregateBar"
import AnnotationChart from "@/components/AnnotationChart"
import {compareThreshold} from "@/util"

export default {
  name: "GroupedScenarioTable",
  props: ["data", "displayColumns", "config", "idColumn"],
  components: {DistributionHistogram, AggregateBar, AnnotationChart},
  mixins: [editColumnsMixin, annotationMixin, distributionMixin, sortColumnsMixin],
  data() {
    return {
      compressRows: false,
      distributions: null,
    }
  },
  computed: {
    dataset() {
      return this.$route.params.dataset
    },
    nbBins() {
      if (this.config)
        return this.config.nbBins
      return 10
    },
    metaColumns: function () {
      return [this.$route.params.plan]
    },
    countries: function () {
      return [this.$route.params.country]
    },
    columns: function () {
      if (!(this.data) || this.data.length === 0) return []
      return Object.keys(this.data[0]).filter(c => c !== this.idColumn)
    },
    sortedData: function () {
      // TODO
      return this.data
    },
    columnRanges: function () {
      let ranges = {}
      this.columns.map(function (c) {
        ranges[c] = {min: 0, max: 0}
      })
      this.data.forEach((row) => {
        this.columns.forEach((col) => {
          ranges[col].min = Math.min(row[col].min, ranges[col].min)
          ranges[col].max = Math.max(row[col].max, ranges[col].max)
        })
      })
      return ranges
    }
  },
  methods: {
    compareToThreshold: function (value, col) {
      return compareThreshold(this.config, col, this.$route.params.country, value)
    },
    mouseOverElement(row, col) {
      this.$emit('mouseOverElement', {row, col})
    }
  }
}
</script>

<style scoped>

</style>
