<template>
  <sui-segments>
    <sui-segment>
      <sui-label :style="{ backgroundColor: levelColor }" attached="top right">{{ annotation.level }}</sui-label>
      <span> {{ annotation.metaColumn }} / {{ annotation.column }} / {{ annotation.country }} </span>
    </sui-segment>
    <sui-segment v-if="annotation.text">
      <p>{{ annotation.text }}</p>
    </sui-segment>
    <sui-segments horizontal>
      <sui-segment>
        <span><sui-icon name="clock"/>{{ formatDate(annotation.date) }}</span><br/>
        <span v-if="annotation.user"><sui-icon name="user"/>{{ annotation.user }}</span>
      </sui-segment>
      <sui-segment>
        <sui-button-group size="small">
          <sui-button basic icon="trash" title="Remove" @click.native="removeAnnotation"></sui-button>
          <sui-button basic icon="pencil" title="Edit" @click.native="editAnnotation"></sui-button>
        </sui-button-group>
      </sui-segment>
    </sui-segments>
  </sui-segments>
</template>

<script>
import moment from "moment"
import {Annotation} from "@/db"

/** Renders an annotation card with all annotation info
 * @vue-props {Annotation} annotation - Annotation object
 * @vue-data {Boolean} loading - Unused flag to display removable state
 * @vue-event {Object} annotate - Object with field 'id' for the annotation to edit
 **/
export default {
  name: "AnnotationCard",
  props: ["annotation"],
  data() {
    return {
      loading: false
    }
  },
  computed: {
    levelColor() {
      return Annotation.LEVELS[this.annotation.level]
    }
  },
  methods: {
    formatDate(date) {
      return moment(date).fromNow()
    },
    removeAnnotation() {
      this.loading = true
      this.annotation.remove()
    },
    editAnnotation() {
      this.$root.$emit("annotate", {id: this.annotation.id})
    }
  }
}
</script>

<style scoped>

span {
  font-size: smaller;
  color: gray;
}
</style>
