<template>
  <div>
    <h3>Introduction</h3>
    Cribble lets you inspect a dataset at three different levels, with the goal of comparing and annotating <i>plans</i>.
    Datasets contain multiple plans, defined by a collection of measures for each country and for a set of
    <i>scenarios</i>.
    <ol>
      <li>At the overview level, the main table represents countries as rows and measures as columns, grouped by plans.
      </li>
      <li>At the country level, the main table represents plans as rows and measures as columns.
      </li>
      <li>At the scenario level, the main table represents a single country and a single plan with scenarios as rows and
        measures as columns.
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  name: "HelpPage"
}
</script>

<style scoped>
figcaption {
  font-style: oblique;
  text-align: center;
}
</style>
