<template>
  <sui-modal :open="true" size="small">
    <sui-modal-header>{{ title }}</sui-modal-header>
    <sui-modal-content scrolling>
      <sui-modal-description>
        <sui-form>
          <sui-form-fields fields="four">
            <sui-form-field>
              <label>Plan</label>
              <input v-model="metaColumn" placeholder="PlanA..." type="text"/>
            </sui-form-field>
            <sui-form-field>
              <label>KPI</label>
              <input v-model="column" placeholder="KPI1..." type="text"/>
            </sui-form-field>
            <sui-form-field>
              <label>Country</label>
              <input v-model="country" placeholder="AL..." type="text"/>
            </sui-form-field>
            <sui-form-field>
              <label>Scenario</label>
              <input v-model="scenario" placeholder="..." type="text"/>
            </sui-form-field>
          </sui-form-fields>
          <sui-form-fields inline required>
            <label for="severity">Severity</label>
            <sui-form-field v-for="(option, i) of levelOptions" :key="i">
              <sui-checkbox v-model="level" :label="option" :value="`${option}`" name="severity" radio/>
            </sui-form-field>
          </sui-form-fields>
          <sui-form-fields grouped>
            <sui-form-field>
              <label>Note</label>
              <textarea v-model="text" type="text"></textarea>
            </sui-form-field>
          </sui-form-fields>
          <div>
            <span v-if="date"><sui-icon name="clock"/>{{ formatDate(date) }}</span><br/>
            <span v-if="user"><sui-icon name="user"/>{{ user }}</span>
          </div>
        </sui-form>
        <sui-message v-if="status">{{ status }}</sui-message>
      </sui-modal-description>
    </sui-modal-content>
    <sui-modal-actions>
      <sui-button v-if="id" basic icon="trash" @click.native="removeAnnotation">Delete</sui-button>
      <sui-button @click.native="close()">Cancel</sui-button>
      <sui-button positive @click.native="addAnnotation">Save</sui-button>
    </sui-modal-actions>
  </sui-modal>
</template>

<script>
import {Annotation} from "@/db"
import moment from "moment"

export default {
  name: "NewAnnotationModal",
  data() {
    return {
      status: null,
      id: null,
      metaColumn: null,
      column: null,
      country: null,
      scenario: null,
      text: null,
      user: null,
      date: null,
      level: 'error'
    }
  },
  props: ["source"],
  created() {
    this.fillFormFromSource(this.source)
  },
  computed: {
    dataset() {
      return this.$route.params.dataset
    },
    title() {
      if (this.id) {
        return `Edit annotation #${this.id}`
      } else {
        return "Add annotation"
      }
    },
    levelOptions() {
      return Object.keys(Annotation.LEVELS)
    }
  },
  methods: {
    formatDate(date) {
      return moment(date).format('YYYY-MM-DD')
    },
    fillFormFromSource() {
      if (this.source.id) {
        Annotation.get(this.source.id).then(ann => {
          for (const field in ann)
            this[field] = ann[field]
          this.id = this.source.id
        })
      } else {
        for (const field in this.source)
          this[field] = this.source[field]
        this.text = ''
        this.level = Object.keys(Annotation.LEVELS)[0]
        this.id = null
      }
    },
    removeAnnotation() {
      Annotation.get(this.id).then(ann => {
        ann.remove()
        this.close()
      })
    },
    async addAnnotation() {
      try {
        this.status = ""
        if (this.id) {
          Annotation.get(this.id).then(ann => {
            for (const field in ann)
              if (field in this)
                ann[field] = this[field]
            ann.save()
                .then(this.close)
                .catch(error => this.status = `Failed to add annotation: ${error}`)
          })
        } else {
          let ann = new Annotation(this.dataset, this.metaColumn, this.column, this.country,
              this.scenario, this.level, this.user, this.text)
          ann.save()
              .then(this.close)
              .catch(error => this.status = `Failed to add annotation: ${error}`)
        }
      } catch (error) {
        this.status = `Failed to add annotation: ${error}`
      }
    },
    close() {
      this.$emit('closeModal')
    }
  },
  watch: {
    source() {
      this.fillFormFromSource(this.source)
    }
  }
}
</script>

<style scoped>

</style>
