<template>
  <div>
    <h3>Column metadata</h3>
    <sui-table selectable unstackable v-if="columnMetadata.length > 0">
      <sui-table-header>
        <sui-table-row celled>
          <sui-table-header-cell single-line v-for="col of metadata" :key="col">
            {{ col.substring(0, 20).toUpperCase() }}
          </sui-table-header-cell>
        </sui-table-row>
      </sui-table-header>
      <sui-table-body>
        <sui-table-row v-for="(row, index) in columnMetadata" :key="index">
          <sui-table-cell v-for="col of metadata" :key="col">
            {{ row[col] }}
          </sui-table-cell>
        </sui-table-row>
      </sui-table-body>
    </sui-table>
    <h3 v-if="threshold.length > 0">Column thresholds</h3>
    <sui-table selectable unstackable v-if="threshold.length > 0">
      <sui-table-header>
        <sui-table-row celled>
          <sui-table-header-cell single-line v-for="col of thresholdColumns" :key="col">
            {{ col  }}
          </sui-table-header-cell>
        </sui-table-row>
      </sui-table-header>
      <sui-table-body>
        <sui-table-row v-for="(row, index) in threshold" :key="index">
          <sui-table-cell v-for="col of thresholdColumns" :key="col">
            <span>{{ row[col]}}</span>
          </sui-table-cell>
        </sui-table-row>
      </sui-table-body>
    </sui-table>
  </div>
</template>

<script>
export default {
  name: "SettingsMenu",
  props: ["config"],
  data() {
    return {
      metadata: ["column", "selected", "hasThreshold", "unit", "sortingCriteria"]
    }
  },
  computed: {
    thresholdColumns: function () {
      return ["country"].concat(Object.keys(this.config.threshold))
    },
    threshold: function () {
      let countries = {}
      this.thresholdColumns.forEach(col => {
        if (col in this.config.threshold) {
          Object.keys(this.config.threshold[col]).forEach(country => {
            if (!countries[country])
              countries[country] = {country: country}
            countries[country][col] = this.config.threshold[col][country]
          })
        }
      })
      return Object.values(countries)
    },
    columnMetadata: function () {
      let columns = {}
      this.config.selectedColumns.forEach(c => {
        if (!columns[c])
          columns[c] = {column: c}
        columns[c]["selected"] = true
      })
      Object.keys(this.config.unit).forEach(c => {
        if (!columns[c])
          columns[c] = {column: c}
        columns[c]["unit"] = this.config.unit[c]
      })
      Object.keys(this.config.threshold).forEach(c => {
        if (!columns[c])
          columns[c] = {column: c}
        columns[c]["hasThreshold"] = true
      })
      Object.keys(this.config.columnBest).forEach(c => {
        if (!columns[c])
          columns[c] = {column: c}
        columns[c]["sortingCriteria"] = this.config.columnBest[c]
      })
      return Object.values(columns)
    }
  }
}
</script>

<style scoped>

</style>
