<template>
  <div @mouseleave="showInput = false">
    <sui-label v-for="(tag, idx) in tags" :key="idx" class="small-tag" horizontal size="small">
      {{ tag }}
      <sui-icon name="close" @click.native="remove(tag)"/>
    </sui-label>
    <sui-label class="small-tag" size="small" @mouseenter="showInput = true">
      <sui-icon name="plus"/>
      <sui-input v-show="showInput" v-model="input" size="mini" style="max-width: 50px;" transparent
                 @keyup.enter="add"/>
    </sui-label>
  </div>
</template>

<script>

/** Renders a list of pill-liked button for tags with button to remove or add one (free typing)
 * @vue-data {Boolean} showInput - Flag for the tag input
 * @vue-data {String} input - Input content
 * @vue-props {Array} tags - List of tags to display
 * @vue-event {String} remove - Tag to remove
 * @vue-event {String} add - Tag to add
 */
export default {
  name: "TagList",
  props: ["tags"],
  data() {
    return {
      showInput: false,
      input: ""
    }
  },
  methods: {
    remove(tag) {
      this.$emit("remove", tag)
    },
    add() {
      const newTag = this.input.trim()
      if (!(new Set(this.tags).has(newTag)))
        this.$emit("add", newTag)
      this.input = ""
    }
  }
}
</script>

<style scoped>

.small-tag {
  margin-top: 1pt !important;
}

</style>
